body {
    background-color: plum;
}

.wrapper {
    margin: auto;
    width: 90%;
}

h1 {
    background-color:rebeccapurple;
    color: white;
    padding: 10px;
}

img {
    max-width: 150px;
    height: auto;
    float: left;
    padding-right: 5px;
}

dl {
    clear: both;
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
}

dd {
    margin-left: 0;
}
